.card{
    color: #1ab394;
}

#card1{
   background-color: #ffffff;
}

#modelos h2{
    color: black;
}

#contact h1{
    color: black;
}

#Nos{
    height: 100%;
}

#featuress h2{
    font-size: 50px;
    bottom
}

#Nos{
    font-size:large;
    color: #1ab394;
}

.row.features-block{
    top:50px;
}


